@model CC_Cyx_Vansnick.Models.POCO.Command


<h1>Summary of the command</h1>

<partial name="_DisplayCommand" model=Model/>

<button asp-controller="ValidationCommand" asp-action="StoreChoice">Choose your store</button>
