@using CC_Cyx_Vansnick.Models.POCO;
@model CC_Cyx_Vansnick.Models.ViewModel.DDLCatViewModel

@{
    ViewData["Title"] = "Home Page";
}
<form asp-controller="Home" asp-action="Index" method="post">
    <select asp-for="ProductType" asp-items="Model.ProductTypes"></select>
    <input type="submit" />
</form>
<table style="border: 1px solid; width: 70%; margin:auto;">

    <tr>
        <th>Nom</th>
        <th>Prix</th>
        <th>Type</th>
        <th>Ajouter au panier</th>
    </tr>
    @{

        foreach (Article a in ViewBag.Article)
        {
            <partial name="_DisplayArticles" model="a" />
        }
    }

    </table>
   

