@model CC_Cyx_Vansnick.Models.POCO.Article
@{
    string s = "/Command/Add/" + Model.IdArticle;


    <tr>
        <td>@Model.Name</td>
        <td>@Model.Price €</td>
        <td>@Model.Type</td>
        <td><a href=@s>+</a></td>

    </tr>
}